[Desktop Entry]
Version=1.0
Type=Service
Name=Get It Back! (Kup)
#Message[not-nl]=No translation required here, as it is not defined in the (XDG) specs. you may delete this line after reading or reply here :). best regards, christian
GenericName=Dolphin Service Menu
MimeType=all/all;
Icon=kup
Actions=GetItBackKup

[Desktop Action GetItBackKup]
Name=Restore file
Name[de]=Datei wiederherstellen
#Name[nl]=Translation kindly requested here
Icon=kup
Exec=bash -c 'getitbackkup_avails=($(type -p get-it-back-kup get-it-back-kup.sh $HOME/.local/share/kio/servicemenus/get-it-back-kup.sh)); getitbackkup_command="${getitbackkup_avails[0]}"; $getitbackkup_command "%F"'
